body {
  height: 100vh;
  background: #111;
  background-image: 
    linear-gradient(
      35deg,
      hsla(0, 0%, 7%, 1),
      80%,
      hsla(0, 0%, 7%, 0.6)
    ),
    linear-gradient(
      transparent calc(50% - 1px),
      #fff 1px,
      transparent calc(50% + 1px) 100%
    ),
    linear-gradient(
      to right,
      transparent calc(50% - 1px),
      #fff 1px,
      transparent calc(50% + 1px) 100%
    );
  background-size: 100% 100%, 40px 40px, 40px 40px;
}
